<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.binaryage.totalterminal.injector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TotalTerminalInjector</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>##VERSION##</string>
	<key>CFBundleSignature</key>
	<string>BAGE</string>
	<key>CFBundleVersion</key>
	<string>##VERSION##</string>
	<key>OSAScriptingDefinition</key>
	<string>TotalTerminalInjector.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>BATTvih_</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>handleVisorHiddenEvent</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>BATTvish</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>handleShowVisorEvent</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>BATTvihd</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>handleHideVisorEvent</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>BATTchck</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>handleCheckEvent</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>BATTinit</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>handleInitEvent</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
